@import "bootstrap/scss/bootstrap";

ul {
  list-style-type: none;
  padding: 0px;
}

.banner {
  margin-bottom: 20px;
  background-color: bisque;
  color: cornflowerblue;
}

li {
  margin: 10px;
}

li a {
  text-decoration: none;
}
